<% html_title "Workload" %>

<h2>Workload</h2>

<ul class="members">
<% for id, member_issue in @member_issues -%>
    <li>
        <h3><%= member_issue[:member] %></h3>
        <ul>
            <% for issue in member_issue[:issues] -%>
            <li>
                <%= link_to_issue(issue) %>
                <%= issue.workload %>
            </li>
            <% end -%>
        </ul>
    </li>
<% end -%>
</ul>
