tr.member {
    font-size: 1.5em;
}
tbody th {
    text-align: left;
    font-weight: normal;
}

#legend ul {
    margin: 0;
    padding: 0;
}
#legend li {
    float: left;
}
#legend .hours:before {
    content: "<";
}
#legend .hours100:before {
    content: ">";
}
#legend .hours:after {
    content: "h";
}
.hours {
    padding: 2px;
    margin-right: 1px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    min-width: 10px;
    display: block;
}
#legend .hours {
    display: inline-block;
    min-width: 20px;
    line-height: 30px;
}
.hours1 {
    background-color: #ccc;
}
.hours2 {
    background-color: #9c0;
}
.hours3 {
    background-color: #bc0;
}
.hours4 {
    background-color: #dc0;
}
.hours5 {
    background-color: #fc0;
}
.hours6 {
    background-color: #f90;
}
.hours7 {
    background-color: #e61;
}
.hours8 {
    background-color: #d31;
}
.hours12 {
    background-color: #b25;
}
.hours100 {
    background-color: #000;
}

#timeline .bottom {
    display: none;
}